<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = '{{ site.hyvor_talk_website_id }}'; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}',
        palette: {
            accent: "#8b0000",
            accentText: "#FFFFFF",
            footerHeader: "#000000",
            footerHeaderText: "#6656565",
            box: "#000000",
            boxText: "#FFFFFF",
            boxLightText: "#AAAAAA",
            backgroundText: "FFFFFF"
        }
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
